*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

body{
  padding-top: 100px;
}

html{
  scroll-behavior: smooth;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo{
  color: white;
  font-size: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.logo:hover{
  color: rgba(137, 196, 244, 1);
  text-shadow: 0 0 20px rgba(137, 196, 244, 1),
               0 0 40px rgba(137, 196, 244, 1);
  transform: scale(1.1);
}

.navbar a{
  font-size: 18px;
  color: white;
  font-weight: 400;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.2s ease;
}

.greeting{
  margin-top: 20px;
}
.navbar a:hover,
.navbar a.active{
  color: rgba(137, 196, 244, 1);
  border-bottom: 2px solid rgba(137, 196, 244, 1);
}

.contact{
  padding: 15px 25px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s ease;
}

.contact:hover{
  background-color: rgba(137, 196, 244, 1);
  box-shadow: 0 0 20px rgba(137, 196, 244, 1),
               0 0 40px rgba(137, 196, 244, 1);
  color: white;
}

section{
  padding-top: 50px;
  margin-top: 50px;
}

.education-page{
  background-color: #f8f8f8;
  padding: 50px 15%;
}

.education-content{
  max-width: 800px;
}

.section-title{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.underline{
  width: 500px;
  height: 3px;
  background-color: rgba(137, 196, 244, 1);
  margin-top: 5px;
}

.education-item{
  margin-top: 20px;
}

.degree{
  font-size: 22px;
  font-weight: 600;
  color: #333333;
}

.school{
  font-size: 18px;
  font-style: italic;
  color: #666666;
}


.home-page{
  width: 100%;
  min-height: 100vh;
  background:  rgba(137, 196, 244, 1);
  display: flex;
  align-items: center;
  padding: 30px 12% 0;
}

.home-content{
  max-width: 800px;
}

.home-content h1{
  font-size: 42px;
  line-height: 1.2;
}

.home-content h2{
  font-size: 30px;
}

.resume-content{
  max-width: 800px;
}

.resume-page h2{
  margin-bottom: 20px;
}

.resume-page,
.skills-page{
  background-color: #f8f8f8;
  padding: 50px 15%;
}

.resume-page a{
  text-decoration: none;
  padding: 15px 25px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s ease;
  margin-top: 30px;
}

.resume-page a:hover{
  background-color: rgba(137, 196, 244, 1);
  box-shadow: 0 0 20px rgba(137, 196, 244, 1),
               0 0 40px rgba(137, 196, 244, 1);
  color: white;
}

.home-content p{
  font-size: 20px;
  margin: 25px 0 30px;
}

.project-content{
  background-color: #f8f8f8;
  display: flex;
  max-width: 800px;
  gap: 20px;
}

.project-content .platform-game,
.project-content .tiny-website{
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-content .platform-game h3,
.project-content .tiny-website h3{
  margin-top: 0;
}

.project-content .platform-game p,
.project-content .tiny-website p{
  margin-bottom: 0;
}

.skills-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.skills-list,
.soft-skills{
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-list ul{
  list-style-type: disc;
  padding-left: 20px;
}

.skills-list li{
  margin-bottom: 5px;
}

.soft-skill-title{
  margin-top: 0;
}

.soft-desc{
  font-size: 1.1em;
  line-height: 1.6;
}
